/* Global Styles */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-color: white;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    padding: 1.25rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* Navigation Styles (Header & Footer) */

nav {
    background-color: white;
}

ul {
    padding: 20px;
    text-align: center;
}

ul a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;  
    display: inline;
    margin: 0px 15px;
    text-decoration: none;
    color: black;
}

/* Content Container Styles */

section#content-container {
    display: flex;
    align-items: center;
    background-color: #A1D8FF;
}

/* Form Styles */

form {
    flex: 1;
    text-align: center;
    background-color: sienna;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a#forgotpw {
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
}

/* Promo Styles */

article#promo {
    flex: 1;
}